 .van-tabs--line .van-tabs__wrap{
 border-bottom: 1px solid #D8D8D8;
}
 .van-tabs__nav--complete{
  padding-left: 0;
  padding-right: 0;
}
 .van-tabs__wrap--scrollable .van-tab{
  padding: 0 8px;
}
 .van-tabs__line{
  background-color: #0780ED !important;
}
